*{
	margin:0 auto;
	padding:0;
}

html{
	position:relative;
	min-height:100%;
}

body{
	margin-bottom:80px;
	font-family:"Raleway", sans-serif;
	font-size:14px;
	/*letter-spacing: em;*/
}
a{
	color:#0C0C0C;
	transition:color .3s ease-in-out;
}
.btn{
	border-radius:2px !important;
}
.btn-primary{
	
background: rgba(15,128,250,1);
background: -moz-linear-gradient(45deg, rgba(15,128,250,1) 0%, rgba(0,92,191,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(15,128,250,1)), color-stop(100%, rgba(0,92,191,1)));
background: -webkit-linear-gradient(45deg, rgba(15,128,250,1) 0%, rgba(0,92,191,1) 100%);
background: -o-linear-gradient(45deg, rgba(15,128,250,1) 0%, rgba(0,92,191,1) 100%);
background: -ms-linear-gradient(45deg, rgba(15,128,250,1) 0%, rgba(0,92,191,1) 100%);
background: linear-gradient(45deg, rgba(15,128,250,1) 0%, rgba(0,92,191,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f80fa', endColorstr='#005cbf', GradientType=1 );
border:transparent;
}
.btn-primary:hover, .btn-primary:focus {

	background:#005cbf !important;
}
.btn-success{
	border:transparent;
background: rgba(72,177,78,1);
background: -moz-linear-gradient(45deg, rgba(72,177,78,1) 0%, rgba(65,155,69,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(72,177,78,1)), color-stop(100%, rgba(65,155,69,1)));
background: -webkit-linear-gradient(45deg, rgba(72,177,78,1) 0%, rgba(65,155,69,1) 100%);
background: -o-linear-gradient(45deg, rgba(72,177,78,1) 0%, rgba(65,155,69,1) 100%);
background: -ms-linear-gradient(45deg, rgba(72,177,78,1) 0%, rgba(65,155,69,1) 100%);
background: linear-gradient(45deg, rgba(72,177,78,1) 0%, rgba(65,155,69,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48b14e', endColorstr='#419b45', GradientType=1 );

}
.btn-success:hover{

	background:#419b45 !important;
}
a:hover,
#header.sticky .nav.navbar-nav > li > a:hover, 
#header.sticky ul.social > li > a:hover{	
	text-decoration:none;
	color:#750000;
}
img{
	max-width:100%;
}
.section{
	padding:2.5em 0;
}
.highlight{
	font-family: 'Montserrat', sans-serif;
	font-weight:500;
}
.padding-10{
	display:block;
	padding:10px;
}
#header{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	z-index:999;
	background-color:transparent;
	border-radius:0;
	border:transparent;
	transition:all .3s ease-in-out;
}

#header.sticky{
	background-color:rgba(255,255,255,.95);
	border-bottom:1px solid #A9A9A9;
}
#header .nav.navbar-nav > li >  a{
	color:#FFFFFF;
	padding:20px 10px;
}
#header.sticky .nav.navbar-nav > li > a, #header.sticky ul.social > li > a{
	color:#0C0C0C;
}
#header ul.social{
	list-style:none;
	margin-left:15px;
	margin-bottom:0;
}

#header ul.social > li{
	display:inline-block;
	padding:20px 5px;
}
#header ul.social > li > a{font-size:16px; color:#FFFFFF;}
.heading-section{
	float:left;
	max-width:360px;
	width:100%;
	margin-bottom:15px;
}

.heading-section > .lbl-icon{
	background-color:#750000;
	float:left;
	width:60px;
	height:60px;
	line-height:65px;
	color:#FFFFFF;
	text-align:center;
	margin-right:15px;
}
.heading-section > .lbl-icon > i{
	font-size:2em;
}
.heading-section > .heading-text > .title{
	margin-top:10px;
	font-weight:700;
	font-family:"Montserrat", sans-serif;
}
.heading-section > .heading-text > .title > span{
	display:block;
	font-size:.5em;
	font-weight:300;
	padding:5px 0;
}

.content-section{
	clear:both;
	padding-top:15px;
}
#footer{
	position:absolute;
	bottom:0;
	background-color:#0C0C0C;
	padding:15px;
	width:100%;
	color:#FFFFFF;
}
#footer a{
	color:#FFFFFF;
}
#footer .social{
	list-style:none;
	padding-left:0;
	margin-bottom:0;
	text-align:right;
}
#footer .copyright{
	margin-bottom:0;
	padding:15px 0px;
} 
#footer .social > li{
	display:inline-block;
}
#footer .social > li > a{
	display:block;
	padding:10px 5px;
	font-size:1.5em;
}
/* SERVICES */
.services{
	width:100%;
	padding:15px 0px;
	overflow:hidden;
}
.services > .service-item{
	float:left;
	padding-top:15px;
}
/* SERVICES COL 3 */
.services.col-3 > .service-item{
	width:calc(100%/3);	
}
/* SERVICES COL 4 */
.services.col-4 > .service-item{
	width:calc(100%/4);
}
/* SERVICES COL 5 */
.services.col-5 > .service-item{
	width:calc(100%/5);
}
/* SERVICES COL 6 */
.services.col-6 > .service-item{
	width:calc(100%/6);
}

.services > .service-item > *{
	display:block;
	text-align:center;
}
.services > .service-item > i{
	font-size:2.5em;
}
.services > .service-item > span{
	padding-top:15px;
}

/* CLIENTS */

#clients.section{
}
.clients{
	
}

.clients-item{
	padding:10px 20px;
}

/* FREEBIES */
#freebies.section{
	background-color:#f2f2f2;
}

.content-item{
	border-radius:6px;
	-webkit-border-radius:6px;
	overflow:hidden;
	
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
	
	transition:box-shadow .3s ease-in-out;
	margin-bottom:20px;
}
.content-item:hover{
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
}
.content-item > a.thumb{
	position:relative;
	display:block;
}
.content-item > .thumb > .overlay{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:5;
	background-color:rgba(0,0,0,0.8);
	opacity:0;
	transition:opacity .5s ease-in-out;
}
.content-item > .thumb > .overlay > i{
	
	color:#FFFFFF;
	font-size:18px;
	display:block;
	position:absolute;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	top:50%;

	width:30px;
	height:30px;
	transition:transform .3s ease-out;
	
}
.content-item > .thumb:hover > .overlay > i{
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
}
.content-item > .thumb:hover > .overlay{
	opacity:1;
}

.content-item > a.thumb > img{
	display:block;
}
.content-item .text{
	padding:10px;
	background-color:#FFFFFF;
	overflow:hidden;
}

.content-item .text > .desc{
	float:left;
	max-width:80%;
	margin-right:10px;
}

.content-item .text > .desc > .title{
	margin-top:0;
	margin-bottom:0;
	font-weight:bold;
	font-family:"Montserrat", sans-serif;
	display:block;
	white-space: nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
.content-item .text > .desc > .short-desc{
	display:block;
	white-space: nowrap;
	font-size:12px;
	font-weight:400;
	overflow:hidden;
	color:#A9A9A9;
	
	text-overflow:ellipsis;
}
.content-item .text > .desc > .meta{
	display:block;
}
.content-item .text > .desc > .meta > a{
	color:#029BE8;
	font-size:12px;
}
.content-item .text > .desc > .meta > a:hover{
	color:#750000;
}
.content-item .text > .lbl{
	font-size:12px;
}
.content-item .text > .lbl > span{
	display:block;
	color:#94C649;
}
