@media(max-width:640px){
	body{
		margin-bottom:0;
	}
	#footer{
		position:static;
	}
	#footer .copyright,
	#footer .social{
		text-align:center;
	}
	.services.col-4 > .service-item{
		width:calc(100%/2);
	}
	.catnav.sticky{
		position:static;
	}
}
@media(max-width:768px){
	#header{
		display:none;
	}
	.box-nav-wrapper{
		display:none;
	}
	.hero-text{
		padding:0px 15px;
	}
	
}
